

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Arial";
  src:
    url("../fonts/Arial-Regular.ttf") format("truetype"),
    sans-serif;
}

@font-face {
  font-family: "Arial";
  src:
    url("../fonts/Arial-Bold.ttf") format("truetype"),
    sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: "Arial";
  src:
    url("../fonts/Arial-Italic.ttf") format("truetype"),
    sans-serif;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src:
    url("../fonts/Arial-BoldItalic.ttf") format("truetype"),
    sans-serif;
  font-weight: bold;
  font-style: italic;
}


img {
  max-width: 100% /* !important */;
  height: auto /* !important */;
  margin-top: 20px;
  min-width: 2% /* !important */;
}


body {
  width: 800px /* !important */;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (max-width: 800px) {

div {
    max-width: 100% !important;
    height: auto !important;
    margin-top: 20px;
    min-width: 2% !important;
    width: auto !important;
    display: block !important;
  }


img {
    max-width: 100% !important;
    height: auto !important;
    margin-top: 20px;
    min-width: 2% !important;
    width: auto !important;
  }


body {
    width: 500px !important;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #ffffff;
    margin: 0 auto;
  }
}


html {
  background: #ffffff;
}


abbr {
  text-decoration: none;
}


p.fdnc_fdnc_quabra {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: center;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}


.fdnc_fdnc_p {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: left;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: 0;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}


p.fdnc_fdnc_p_30 {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: left;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: -22px;
  margin-top: 0.5em;
  margin-right: 1.833em;
  margin-bottom: 0.5em;
  margin-left: 1.833em;
}


p.fdnc_fdnc_p_24 {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: left;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: -22px;
  margin-top: 0.5em;
  margin-right: 1.833em;
  margin-bottom: 0.5em;
  margin-left: 1.833em;
}


p.fdnc_fdnc_p_no {
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: left;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: 0;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}


p.fdnc_fdnc_p_Centro {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: center;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: 0;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}


p.fdnc_fdnc_legenda {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: center;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: 0;
  margin-top: 6px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  -epub-hyphens: none;
  hyphens: none;
}


p.fdnc_fdnc_p_TB {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: left;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: -23px;
  margin-top: 0.5em;
  margin-right: 1.833em;
  margin-bottom: 0.5em;
  margin-left: 0.833em;
  border-color: #000000;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}


p.fdnc_p_TB_Amarelo {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: left;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: 0px;
  margin-top: 0.5em;
  margin-right: 1.833em;
  margin-bottom: 0.5em;
  margin-left: 0.833em;
  border-color: #ffed00;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}


h1.fdnc_fdnc_h1 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: center;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: 0;
  margin-top: 6px;
  margin-right: 23px;
  margin-bottom: 6px;
  margin-left: 23px;
  -epub-hyphens: none;
  hyphens: none;
}


h2.fdnc_fdnc_h2 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: center;
  page-break-before: auto;
  orphans: 1;
  widows: 1;
  page-break-after: auto;
  color: #000000;
  text-indent: 0;
  margin-top: 6px;
  margin-right: 23px;
  margin-bottom: 6px;
  margin-left: 23px;
  -epub-hyphens: none;
  hyphens: none;
}


span.fdnc_fdnc_bold {
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}


span.fdnc_fdnc_bold_Amarelo {
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #dea12b;
}


span.fdnc_fdnc_bold_Branco {
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}


span.fdnc_fdnc_italic {
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}


span.fdnc_fdnc_bold_italic {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: #ffffff;
}


div.fdnc_fdnc_Fundo_Amarelo {
  border-style: none;
  border-radius: 0px 0px 0px 12px;
  background-color: #ffdd00;
  padding: 12px;
}


div.fdnc_fdnc_Fundo_Preto_Redondo {
  border-style: none;
  border-radius: 12px;
  background-color: #000000;
  padding: 12px;
  text-align: center;
}


div.fdnc_fdnc_Fundo_Preto {
  border-style: none;
  border-radius: 12px 12px 0px 0px;
  background-color: #000000;
  padding: 12px;
}


div.fdnc_fdnc_Fundo_Amarelo_Redondo {
  border-style: none;
  border-radius: 12px;
  background-color: #ffdd00;
  padding: 6px;
}


Div.fdnc_fdnc_Fundo_Cinza {
  border-style: none;
  border-radius: 12px 0px 12px 12px;
  background-color: #e5e5e5;
  padding: 12px;
  text-align: left;
}


div.fdnc_Fundo_Preto_Centralizado {
  border-style: none;
  background-color: #000000;
  border-radius: 12px 12px 0px 0px;
  padding: 12px;
  width: 80%;
  margin: 20px auto;
  display: block;
}



a:link {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #000000;
}

	mtd {
		padding: 5px;
	}
	