h1.ParaOverride-1, p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	margin-top:29px;
	text-align:center;
}
p.ParaOverride-3 {
	margin-top:29px;
	page-break-after:always;
}
p.ParaOverride-4 {
	margin-top:29px;
}
p.ParaOverride-5 {
	page-break-after:always;
	text-align:center;
}
span.CharOverride-1 {
	font-family:Arial;
	font-size:1.847em;
}
span.CharOverride-2 {
	font-size:0.857em;
}
span.CharOverride-3 {
	color:#000000;
	font-family:Arial;
}
span.CharOverride-4 {
	color:#dea12b;
	font-family:Arial;
}
abbr.CharOverride-5, span.CharOverride-5 {
	color:#dea12b;
}
abbr.CharOverride-6, span.CharOverride-6 {
	color:#b97b12;
}
span.CharOverride-7 {
	color:#71706f;
}
span.CharOverride-8 {
	color:#71706f;
	font-family:Arial;
}
span.CharOverride-9, b.CharOverride-9 {
	color:#b97b12;
	font-family:Arial;
}
abbr.CharOverride-10, span.CharOverride-10 {
	color:#000000;
}
abbr.CharOverride-11, span.CharOverride-11 {
	color:#ffed00;
}
span.CharOverride-12 {
	color:#ffed00;
	font-family:Arial;
}
b.CharOverride-13 {
	font-family:Arial;
}
span.CharOverride-14 {
	color:#000000;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-16 {
	color:#ec6f05;
	font-family:Arial;
}
span.CharOverride-17 {
	color:#95c23d;
	font-family:Arial;
}
span.CharOverride-18 {
	color:#9265a1;
	font-family:Arial;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-family:Arial;
}
table._idGenTablePara-1 {
	margin-left:10px;
	margin-right:10px;
}
img._idGenObjectAttribute-1 {
	height:575px;
	width:405px;
}
img._idGenObjectAttribute-2 {
	height:404px;
	width:293px;
}
img._idGenObjectAttribute-3 {
	height:521px;
	width:381px;
}
img._idGenObjectAttribute-4 {
	height:216px;
	width:386px;
}
img._idGenObjectAttribute-5 {
	height:332px;
	width:523px;
}
img._idGenObjectAttribute-6 {
	height:97px;
	width:98px;
}
img._idGenObjectAttribute-7 {
	height:99px;
	width:101px;
}
img._idGenObjectAttribute-8 {
	height:98px;
	width:101px;
}
img._idGenObjectAttribute-9 {
	height:275px;
	width:281px;
}
img._idGenObjectAttribute-10 {
	height:333px;
	width:467px;
}
img._idGenObjectAttribute-11 {
	height:7px;
	width:65px;
}
img._idGenObjectAttribute-12 {
	height:420px;
	width:266px;
}
img._idGenObjectAttribute-13 {
	height:366px;
	width:193px;
}
img._idGenObjectAttribute-14 {
	height:337px;
	width:495px;
}
img._idGenObjectAttribute-15 {
	height:325px;
	width:242px;
}
img._idGenObjectAttribute-16 {
	height:491px;
	width:386px;
}
img._idGenObjectAttribute-17 {
	height:348px;
	width:253px;
}
img._idGenObjectAttribute-18 {
	height:263px;
	width:244px;
}
img._idGenObjectAttribute-19 {
	height:365px;
	width:271px;
}
img._idGenObjectAttribute-20 {
	height:78px;
	width:77px;
}
img._idGenObjectAttribute-21 {
	height:84px;
	width:78px;
}
img._idGenObjectAttribute-22 {
	height:79px;
	width:78px;
}
img._idGenObjectAttribute-23 {
	height:419px;
	width:523px;
}
img._idGenObjectAttribute-24 {
	height:335px;
	width:311px;
}
img._idGenObjectAttribute-25 {
	height:288px;
	width:523px;
}
img._idGenObjectAttribute-26 {
	height:319px;
	width:308px;
}
img._idGenObjectAttribute-27 {
	height:329px;
	width:224px;
}
img._idGenObjectAttribute-28 {
	height:71px;
	width:71px;
}
img._idGenObjectAttribute-29 {
	height:69px;
	width:68px;
}
img._idGenObjectAttribute-30 {
	height:71px;
	width:69px;
}
img._idGenObjectAttribute-31 {
	height:69px;
	width:70px;
}
img._idGenObjectAttribute-32 {
	height:419px;
	width:256px;
}
img._idGenObjectAttribute-33 {
	height:68px;
	width:70px;
}
img._idGenObjectAttribute-34 {
	height:68px;
	width:74px;
}
img._idGenObjectAttribute-35 {
	height:68px;
	width:71px;
}
img._idGenObjectAttribute-36 {
	height:296px;
	width:261px;
}
img._idGenObjectAttribute-37 {
	height:67px;
	width:71px;
}
img._idGenObjectAttribute-38 {
	height:68px;
	width:73px;
}
img._idGenObjectAttribute-39 {
	height:66px;
	width:69px;
}
img._idGenObjectAttribute-40 {
	height:259px;
	width:326px;
}
img._idGenObjectAttribute-41 {
	height:284px;
	width:523px;
}
img._idGenObjectAttribute-42 {
	height:207px;
	width:318px;
}
img._idGenObjectAttribute-43 {
	height:171px;
	width:308px;
}
img._idGenObjectAttribute-44 {
	height:330px;
	width:523px;
}
img._idGenObjectAttribute-45 {
	height:403px;
	width:238px;
}
img._idGenObjectAttribute-46 {
	height:101px;
	width:98px;
}
img._idGenObjectAttribute-47 {
	height:116px;
	width:126px;
}
img._idGenObjectAttribute-48 {
	height:109px;
	width:102px;
}
img._idGenObjectAttribute-49 {
	height:88px;
	width:97px;
}
img._idGenObjectAttribute-50 {
	height:84px;
	width:89px;
}
img._idGenObjectAttribute-51 {
	height:463px;
	width:382px;
}
img._idGenObjectAttribute-52 {
	height:347px;
	width:217px;
}
img._idGenObjectAttribute-53 {
	height:68px;
	width:69px;
}
img._idGenObjectAttribute-54 {
	height:315px;
	width:212px;
}
img._idGenObjectAttribute-55 {
	height:96px;
	width:119px;
}
img._idGenObjectAttribute-56 {
	height:122px;
	width:112px;
}
img._idGenObjectAttribute-57 {
	height:225px;
	width:523px;
}
img._idGenObjectAttribute-58 {
	height:116px;
	width:122px;
}
img._idGenObjectAttribute-59 {
	height:105px;
	width:128px;
}
img._idGenObjectAttribute-60 {
	height:98px;
	width:136px;
}
img._idGenObjectAttribute-61 {
	height:470px;
	width:380px;
}
img._idGenObjectAttribute-62 {
	height:250px;
	width:523px;
}
img._idGenObjectAttribute-63 {
	height:251px;
	width:523px;
}
img._idGenObjectAttribute-64 {
	height:9px;
	width:46px;
}
img._idGenObjectAttribute-65 {
	height:69px;
	width:71px;
}
img._idGenObjectAttribute-66 {
	height:308px;
	width:201px;
}
img._idGenObjectAttribute-67 {
	height:430px;
	width:523px;
}
img._idGenObjectAttribute-68 {
	height:121px;
	width:216px;
}
img._idGenObjectAttribute-69 {
	height:105px;
	width:230px;
}
img._idGenObjectAttribute-70 {
	height:143px;
	width:143px;
}
img._idGenObjectAttribute-71 {
	height:64px;
	width:175px;
}
img._idGenObjectAttribute-72 {
	height:81px;
	width:109px;
}
img._idGenObjectAttribute-73 {
	height:78px;
	width:121px;
}
img._idGenObjectAttribute-74 {
	height:50px;
	width:114px;
}
img._idGenObjectAttribute-75 {
	height:47px;
	width:108px;
}
img._idGenObjectAttribute-76 {
	height:95px;
	width:108px;
}
img._idGenObjectAttribute-77 {
	height:86px;
	width:157px;
}
img._idGenObjectAttribute-78 {
	height:61px;
	width:155px;
}
img._idGenObjectAttribute-79 {
	height:67px;
	width:160px;
}
img._idGenObjectAttribute-80 {
	height:97px;
	width:87px;
}
img._idGenObjectAttribute-81 {
	height:102px;
	width:138px;
}
img._idGenObjectAttribute-82 {
	height:63px;
	width:142px;
}
img._idGenObjectAttribute-83 {
	height:82px;
	width:119px;
}
img._idGenObjectAttribute-84 {
	height:61px;
	width:176px;
}
img._idGenObjectAttribute-85 {
	height:60px;
	width:172px;
}
img._idGenObjectAttribute-86 {
	height:70px;
	width:157px;
}
img._idGenObjectAttribute-87 {
	height:61px;
	width:159px;
}
img._idGenObjectAttribute-88 {
	height:72px;
	width:134px;
}
img._idGenObjectAttribute-89 {
	height:75px;
	width:200px;
}
img._idGenObjectAttribute-90 {
	height:60px;
	width:110px;
}
img._idGenObjectAttribute-91 {
	height:101px;
	width:89px;
}
img._idGenObjectAttribute-92 {
	height:89px;
	width:179px;
}
img._idGenObjectAttribute-93 {
	height:60px;
	width:125px;
}
img._idGenObjectAttribute-94 {
	height:66px;
	width:135px;
}
img._idGenObjectAttribute-95 {
	height:66px;
	width:185px;
}
img._idGenObjectAttribute-96 {
	height:57px;
	width:171px;
}
img._idGenObjectAttribute-97 {
	height:92px;
	width:138px;
}
img._idGenObjectAttribute-98 {
	height:46px;
	width:108px;
}
img._idGenObjectAttribute-99 {
	height:213px;
	width:311px;
}
img._idGenObjectAttribute-100 {
	height:375px;
	width:281px;
}
img._idGenObjectAttribute-101 {
	height:60px;
	width:60px;
}
img._idGenObjectAttribute-102 {
	height:63px;
	width:63px;
}
img._idGenObjectAttribute-103 {
	height:62px;
	width:61px;
}
img._idGenObjectAttribute-104 {
	height:62px;
	width:65px;
}
img._idGenObjectAttribute-105 {
	height:61px;
	width:62px;
}
img._idGenObjectAttribute-106 {
	height:61px;
	width:64px;
}
img._idGenObjectAttribute-107 {
	height:63px;
	width:62px;
}
img._idGenObjectAttribute-108 {
	height:65px;
	width:65px;
}
img._idGenObjectAttribute-109 {
	height:315px;
	width:311px;
}
img._idGenObjectAttribute-110 {
	height:428px;
	width:248px;
}
img._idGenObjectAttribute-111 {
	height:394px;
	width:512px;
}
img._idGenObjectAttribute-112 {
	height:403px;
	width:497px;
}
img._idGenObjectAttribute-113 {
	height:372px;
	width:524px;
}
img._idGenObjectAttribute-114 {
	height:80px;
	width:81px;
}
img._idGenObjectAttribute-115 {
	height:83px;
	width:86px;
}
img._idGenObjectAttribute-116 {
	height:81px;
	width:86px;
}
img._idGenObjectAttribute-117 {
	height:81px;
	width:83px;
}
img._idGenObjectAttribute-118 {
	height:341px;
	width:512px;
}
img._idGenObjectAttribute-119 {
	height:11px;
	width:44px;
}
img._idGenObjectAttribute-120 {
	height:232px;
	width:291px;
}
img._idGenObjectAttribute-121 {
	height:95px;
	width:281px;
}
img._idGenObjectAttribute-122 {
	height:315px;
	width:278px;
}
img._idGenObjectAttribute-123 {
	height:296px;
	width:344px;
}
img._idGenObjectAttribute-124 {
	height:405px;
	width:393px;
}
img._idGenObjectAttribute-125 {
	height:311px;
	width:287px;
}
img._idGenObjectAttribute-126 {
	height:507px;
	width:396px;
}
img._idGenObjectAttribute-127 {
	height:575px;
	width:355px;
}
img._idGenObjectAttribute-128 {
	height:575px;
	width:354px;
}
img._idGenObjectAttribute-129 {
	height:514px;
	width:515px;
}
img._idGenObjectAttribute-130 {
	height:137px;
	width:136px;
}
img._idGenObjectAttribute-131 {
	height:494px;
	width:401px;
}
img._idGenObjectAttribute-132 {
	height:86px;
	width:93px;
}
img._idGenObjectAttribute-133 {
	height:83px;
	width:89px;
}
img._idGenObjectAttribute-134 {
	height:81px;
	width:88px;
}
img._idGenObjectAttribute-135 {
	height:85px;
	width:86px;
}
img._idGenObjectAttribute-136 {
	height:140px;
	width:149px;
}
img._idGenObjectAttribute-137 {
	height:91px;
	width:98px;
}
img._idGenObjectAttribute-138 {
	height:32px;
	width:29px;
}
img._idGenObjectAttribute-139 {
	height:42px;
	width:29px;
}
img._idGenObjectAttribute-140 {
	height:30px;
	width:29px;
}
img._idGenObjectAttribute-141 {
	height:28px;
	width:38px;
}
img._idGenObjectAttribute-142 {
	height:131px;
	width:130px;
}
img._idGenObjectAttribute-143 {
	height:112px;
	width:207px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
