table.TableOverride-1 {
	border-collapse:collapse;
	border-width:1px;
	margin-left:10px;
	margin-right:10px;
}
h1.ParaOverride-1, p.ParaOverride-1, h2.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	margin-top:12px;
	page-break-after:always;
}
p.ParaOverride-3 {
	margin-top:12px;
}
p.ParaOverride-4 {
	page-break-after:always;
	text-align:center;
}
p.ParaOverride-5 {
	margin-top:12px;
	text-align:left;
}
span.CharOverride-1 {
	font-family:Arial;
	font-size:1.847em;
}
span.CharOverride-2 {
	font-family:Arial;
	font-size:1.285em;
}
span.CharOverride-3 {
	color:#ba7b12;
	font-family:Arial;
}
span.CharOverride-4 {
	color:#f4dc00;
	font-family:Arial;
}
span.CharOverride-5 {
	font-family:Arial;
	font-size:0.818em;
}
span.CharOverride-6 {
	color:#706f6f;
	font-family:Arial;
}
abbr.CharOverride-7, span.CharOverride-7 {
	color:#706f6f;
}
span.CharOverride-8 {
	font-size:0.857em;
}
span.CharOverride-9 {
	font-family:Arial;
	font-style:normal;
	font-weight:bold;
}
abbr.CharOverride-10, span.CharOverride-10 {
	color:#f4dc00;
}
span.CharOverride-11 {
	color:#ba7b12;
}
span.CharOverride-12 {
	-epub-text-combine:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-13 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-14 {
	color:#ffffff;
	font-family:Arial;
}
abbr.CharOverride-15, span.CharOverride-15 {
	color:#ffffff;
}
span.CharOverride-16 {
	font-family:Arial;
	font-size:58%;
	vertical-align:super;
}
b.CharOverride-17, i.CharOverride-17 {
	font-family:Arial;
}
span.CharOverride-18 {
	color:#000000;
	font-family:Arial;
}
abbr.CharOverride-19, span.CharOverride-19 {
	font-size:0.818em;
}
span.CharOverride-20 {
	color:#95c23d;
	font-family:Arial;
}
span.CharOverride-21 {
	color:#71706f;
	font-family:Arial;
}
span.CharOverride-22 {
	color:#9265a1;
	font-family:Arial;
}
span.CharOverride-23 {
	color:#ec6f05;
	font-family:Arial;
}
span.CharOverride-24 {
	font-size:1.285em;
}
span.CharOverride-25 {
	color:#000000;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-family:Arial;
}
table._idGenTablePara-1 {
	margin-left:10px;
	margin-right:10px;
}
img._idGenObjectAttribute-1 {
	height:635px;
	width:450px;
}
img._idGenObjectAttribute-2 {
	height:121px;
	width:122px;
}
img._idGenObjectAttribute-3 {
	height:404px;
	width:293px;
}
img._idGenObjectAttribute-4 {
	height:521px;
	width:381px;
}
img._idGenObjectAttribute-5 {
	height:216px;
	width:386px;
}
img._idGenObjectAttribute-6 {
	height:332px;
	width:523px;
}
img._idGenObjectAttribute-7 {
	height:97px;
	width:98px;
}
img._idGenObjectAttribute-8 {
	height:99px;
	width:101px;
}
img._idGenObjectAttribute-9 {
	height:98px;
	width:101px;
}
img._idGenObjectAttribute-10 {
	height:275px;
	width:281px;
}
img._idGenObjectAttribute-11 {
	height:333px;
	width:467px;
}
img._idGenObjectAttribute-12 {
	height:420px;
	width:266px;
}
img._idGenObjectAttribute-13 {
	height:366px;
	width:193px;
}
img._idGenObjectAttribute-14 {
	height:337px;
	width:495px;
}
img._idGenObjectAttribute-15 {
	height:325px;
	width:242px;
}
img._idGenObjectAttribute-16 {
	height:491px;
	width:386px;
}
img._idGenObjectAttribute-17 {
	height:348px;
	width:253px;
}
img._idGenObjectAttribute-18 {
	height:263px;
	width:244px;
}
img._idGenObjectAttribute-19 {
	height:365px;
	width:271px;
}
img._idGenObjectAttribute-20 {
	height:78px;
	width:77px;
}
img._idGenObjectAttribute-21 {
	height:84px;
	width:78px;
}
img._idGenObjectAttribute-22 {
	height:79px;
	width:78px;
}
img._idGenObjectAttribute-23 {
	height:419px;
	width:523px;
}
img._idGenObjectAttribute-24 {
	height:335px;
	width:311px;
}
img._idGenObjectAttribute-25 {
	height:288px;
	width:523px;
}
img._idGenObjectAttribute-26 {
	height:319px;
	width:308px;
}
img._idGenObjectAttribute-27 {
	height:329px;
	width:224px;
}
img._idGenObjectAttribute-28 {
	height:71px;
	width:71px;
}
img._idGenObjectAttribute-29 {
	height:69px;
	width:68px;
}
img._idGenObjectAttribute-30 {
	height:71px;
	width:69px;
}
img._idGenObjectAttribute-31 {
	height:69px;
	width:70px;
}
img._idGenObjectAttribute-32 {
	height:419px;
	width:256px;
}
img._idGenObjectAttribute-33 {
	height:68px;
	width:70px;
}
img._idGenObjectAttribute-34 {
	height:68px;
	width:74px;
}
img._idGenObjectAttribute-35 {
	height:68px;
	width:71px;
}
img._idGenObjectAttribute-36 {
	height:296px;
	width:261px;
}
img._idGenObjectAttribute-37 {
	height:67px;
	width:71px;
}
img._idGenObjectAttribute-38 {
	height:68px;
	width:73px;
}
img._idGenObjectAttribute-39 {
	height:66px;
	width:69px;
}
img._idGenObjectAttribute-40 {
	height:259px;
	width:326px;
}
img._idGenObjectAttribute-41 {
	height:284px;
	width:523px;
}
img._idGenObjectAttribute-42 {
	height:207px;
	width:318px;
}
img._idGenObjectAttribute-43 {
	height:171px;
	width:308px;
}
img._idGenObjectAttribute-44 {
	height:330px;
	width:523px;
}
img._idGenObjectAttribute-45 {
	height:403px;
	width:238px;
}
img._idGenObjectAttribute-46 {
	height:101px;
	width:98px;
}
img._idGenObjectAttribute-47 {
	height:116px;
	width:126px;
}
img._idGenObjectAttribute-48 {
	height:109px;
	width:102px;
}
img._idGenObjectAttribute-49 {
	height:88px;
	width:97px;
}
img._idGenObjectAttribute-50 {
	height:84px;
	width:89px;
}
img._idGenObjectAttribute-51 {
	height:463px;
	width:382px;
}
img._idGenObjectAttribute-52 {
	height:347px;
	width:217px;
}
img._idGenObjectAttribute-53 {
	height:68px;
	width:69px;
}
img._idGenObjectAttribute-54 {
	height:315px;
	width:212px;
}
img._idGenObjectAttribute-55 {
	height:96px;
	width:119px;
}
img._idGenObjectAttribute-56 {
	height:122px;
	width:112px;
}
img._idGenObjectAttribute-57 {
	height:225px;
	width:523px;
}
img._idGenObjectAttribute-58 {
	height:162px;
	width:170px;
}
img._idGenObjectAttribute-59 {
	height:105px;
	width:128px;
}
img._idGenObjectAttribute-60 {
	height:98px;
	width:136px;
}
img._idGenObjectAttribute-61 {
	height:470px;
	width:380px;
}
img._idGenObjectAttribute-62 {
	height:250px;
	width:523px;
}
img._idGenObjectAttribute-63 {
	height:251px;
	width:523px;
}
img._idGenObjectAttribute-64 {
	height:69px;
	width:71px;
}
img._idGenObjectAttribute-65 {
	height:308px;
	width:201px;
}
img._idGenObjectAttribute-66 {
	height:430px;
	width:523px;
}
img._idGenObjectAttribute-67 {
	height:121px;
	width:216px;
}
img._idGenObjectAttribute-68 {
	height:80px;
	width:194px;
}
img._idGenObjectAttribute-69 {
	height:112px;
	width:110px;
}
img._idGenObjectAttribute-70 {
	height:46px;
	width:142px;
}
img._idGenObjectAttribute-71 {
	height:70px;
	width:86px;
}
img._idGenObjectAttribute-72 {
	height:59px;
	width:87px;
}
img._idGenObjectAttribute-73 {
	height:79px;
	width:208px;
}
img._idGenObjectAttribute-74 {
	height:86px;
	width:186px;
}
img._idGenObjectAttribute-75 {
	height:172px;
	width:196px;
}
img._idGenObjectAttribute-76 {
	height:170px;
	width:309px;
}
img._idGenObjectAttribute-77 {
	height:106px;
	width:317px;
}
img._idGenObjectAttribute-78 {
	height:129px;
	width:311px;
}
img._idGenObjectAttribute-79 {
	height:196px;
	width:153px;
}
img._idGenObjectAttribute-80 {
	height:185px;
	width:249px;
}
img._idGenObjectAttribute-81 {
	height:104px;
	width:264px;
}
img._idGenObjectAttribute-82 {
	height:144px;
	width:212px;
}
img._idGenObjectAttribute-83 {
	height:89px;
	width:291px;
}
img._idGenObjectAttribute-84 {
	height:98px;
	width:332px;
}
img._idGenObjectAttribute-85 {
	height:138px;
	width:296px;
}
img._idGenObjectAttribute-86 {
	height:108px;
	width:301px;
}
img._idGenObjectAttribute-87 {
	height:113px;
	width:243px;
}
img._idGenObjectAttribute-88 {
	height:132px;
	width:384px;
}
img._idGenObjectAttribute-89 {
	height:75px;
	width:213px;
}
img._idGenObjectAttribute-90 {
	height:193px;
	width:185px;
}
img._idGenObjectAttribute-91 {
	height:151px;
	width:344px;
}
img._idGenObjectAttribute-92 {
	height:102px;
	width:234px;
}
img._idGenObjectAttribute-93 {
	height:113px;
	width:260px;
}
img._idGenObjectAttribute-94 {
	height:106px;
	width:353px;
}
img._idGenObjectAttribute-95 {
	height:103px;
	width:317px;
}
img._idGenObjectAttribute-96 {
	height:176px;
	width:253px;
}
img._idGenObjectAttribute-97 {
	height:83px;
	width:194px;
}
img._idGenObjectAttribute-98 {
	height:213px;
	width:311px;
}
img._idGenObjectAttribute-99 {
	height:375px;
	width:281px;
}
img._idGenObjectAttribute-100 {
	height:131px;
	width:134px;
}
img._idGenObjectAttribute-101 {
	height:128px;
	width:132px;
}
img._idGenObjectAttribute-102 {
	height:124px;
	width:128px;
}
img._idGenObjectAttribute-103 {
	height:122px;
	width:130px;
}
img._idGenObjectAttribute-104 {
	height:118px;
	width:128px;
}
img._idGenObjectAttribute-105 {
	height:116px;
	width:116px;
}
img._idGenObjectAttribute-106 {
	height:124px;
	width:142px;
}
img._idGenObjectAttribute-107 {
	height:126px;
	width:140px;
}
img._idGenObjectAttribute-108 {
	height:315px;
	width:311px;
}
img._idGenObjectAttribute-109 {
	height:428px;
	width:248px;
}
img._idGenObjectAttribute-110 {
	height:326px;
	width:448px;
}
img._idGenObjectAttribute-111 {
	height:337px;
	width:440px;
}
img._idGenObjectAttribute-112 {
	height:324px;
	width:436px;
}
img._idGenObjectAttribute-113 {
	height:80px;
	width:81px;
}
img._idGenObjectAttribute-114 {
	height:83px;
	width:86px;
}
img._idGenObjectAttribute-115 {
	height:81px;
	width:86px;
}
img._idGenObjectAttribute-116 {
	height:81px;
	width:83px;
}
img._idGenObjectAttribute-117 {
	height:341px;
	width:512px;
}
img._idGenObjectAttribute-118 {
	height:232px;
	width:291px;
}
img._idGenObjectAttribute-119 {
	height:95px;
	width:281px;
}
img._idGenObjectAttribute-120 {
	height:315px;
	width:278px;
}
img._idGenObjectAttribute-121 {
	height:296px;
	width:344px;
}
img._idGenObjectAttribute-122 {
	height:405px;
	width:393px;
}
img._idGenObjectAttribute-123 {
	height:311px;
	width:287px;
}
img._idGenObjectAttribute-124 {
	height:507px;
	width:396px;
}
img._idGenObjectAttribute-125 {
	height:393px;
	width:395px;
}
img._idGenObjectAttribute-126 {
	height:399px;
	width:402px;
}
img._idGenObjectAttribute-127 {
	height:22px;
	width:44px;
}
img._idGenObjectAttribute-128 {
	height:514px;
	width:515px;
}
img._idGenObjectAttribute-129 {
	height:95px;
	width:97px;
}
img._idGenObjectAttribute-130 {
	height:494px;
	width:401px;
}
img._idGenObjectAttribute-131 {
	height:86px;
	width:93px;
}
img._idGenObjectAttribute-132 {
	height:83px;
	width:89px;
}
img._idGenObjectAttribute-133 {
	height:81px;
	width:88px;
}
img._idGenObjectAttribute-134 {
	height:85px;
	width:86px;
}
img._idGenObjectAttribute-135 {
	height:140px;
	width:149px;
}
img._idGenObjectAttribute-136 {
	height:91px;
	width:98px;
}
img._idGenObjectAttribute-137 {
	height:43px;
	width:42px;
}
img._idGenObjectAttribute-138 {
	height:49px;
	width:42px;
}
img._idGenObjectAttribute-139 {
	height:41px;
	width:42px;
}
img._idGenObjectAttribute-140 {
	height:31px;
	width:44px;
}
img._idGenObjectAttribute-141 {
	height:132px;
	width:126px;
}
img._idGenObjectAttribute-142 {
	height:149px;
	width:149px;
}
img._idGenObjectAttribute-143 {
	height:112px;
	width:207px;
}
img._idGenObjectAttribute-144 {
	height:48px;
	width:44px;
}
img._idGenObjectAttribute-145 {
	height:45px;
	width:45px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}

abbr[data-abbrtype] {
  text-decoration: none !important;
  border-bottom: none !important;
}

abbr[title] {
  text-decoration: none !important;
  border-bottom: none !important;
  cursor: help;
}
a:link { 
text-decoration:none;
color: #000; {
