h1.ParaOverride-1, p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	margin-top:29px;
	page-break-after:always;
}
p.ParaOverride-3 {
	margin-top:29px;
}
p.ParaOverride-4 {
	text-align:left;
}
span.CharOverride-1 {
	font-family:Arial;
	font-size:1.847em;
}
span.CharOverride-2 {
	color:#9d9d9c;
	font-family:Arial;
}
span.CharOverride-3, b.CharOverride-3 {
	color:#d46416;
	font-family:Arial;
}
b.CharOverride-4 {
	font-family:Arial;
}
span.CharOverride-5 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-6 {
	color:#d46416;
}
span.CharOverride-7 {
	color:#9d9d9c;
}
span.CharOverride-8 {
	color:#d46416;
	font-family:Arial;
	font-size:1.714em;
}
span.CharOverride-9 {
	color:#000000;
	font-family:Arial;
	font-size:1.714em;
}
span.CharOverride-10 {
	color:#dea12b;
	font-family:Arial;
}
span.CharOverride-11 {
	font-family:Arial;
	font-size:1.714em;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-family:Arial;
}
img._idGenObjectAttribute-1 {
	height:575px;
	width:334px;
}
img._idGenObjectAttribute-2 {
	height:8px;
	width:53px;
}
img._idGenObjectAttribute-3 {
	height:417px;
	width:437px;
}
img._idGenObjectAttribute-4 {
	height:66px;
	width:71px;
}
img._idGenObjectAttribute-5 {
	height:70px;
	width:70px;
}
img._idGenObjectAttribute-6 {
	height:68px;
	width:65px;
}
img._idGenObjectAttribute-7 {
	height:66px;
	width:66px;
}
img._idGenObjectAttribute-8 {
	height:306px;
	width:269px;
}
img._idGenObjectAttribute-9 {
	height:101px;
	width:98px;
}
img._idGenObjectAttribute-10 {
	height:88px;
	width:97px;
}
img._idGenObjectAttribute-11 {
	height:109px;
	width:102px;
}
img._idGenObjectAttribute-12 {
	height:116px;
	width:126px;
}
img._idGenObjectAttribute-13 {
	height:330px;
	width:365px;
}
img._idGenObjectAttribute-14 {
	height:61px;
	width:41px;
}
img._idGenObjectAttribute-15 {
	height:47px;
	width:40px;
}
img._idGenObjectAttribute-16 {
	height:68px;
	width:78px;
}
img._idGenObjectAttribute-17 {
	height:74px;
	width:68px;
}
img._idGenObjectAttribute-18 {
	height:69px;
	width:70px;
}
img._idGenObjectAttribute-19 {
	height:266px;
	width:255px;
}
img._idGenObjectAttribute-20 {
	height:96px;
	width:119px;
}
img._idGenObjectAttribute-21 {
	height:122px;
	width:112px;
}
img._idGenObjectAttribute-22 {
	height:105px;
	width:128px;
}
img._idGenObjectAttribute-23 {
	height:98px;
	width:136px;
}
img._idGenObjectAttribute-24 {
	height:156px;
	width:149px;
}
img._idGenObjectAttribute-25 {
	height:92px;
	width:92px;
}
img._idGenObjectAttribute-26 {
	height:207px;
	width:318px;
}
img._idGenObjectAttribute-27 {
	height:171px;
	width:308px;
}
img._idGenObjectAttribute-28 {
	height:404px;
	width:514px;
}
img._idGenObjectAttribute-29 {
	height:403px;
	width:512px;
}
img._idGenObjectAttribute-30 {
	height:152px;
	width:153px;
}
img._idGenObjectAttribute-31 {
	height:80px;
	width:194px;
}
img._idGenObjectAttribute-32 {
	height:112px;
	width:110px;
}
img._idGenObjectAttribute-33 {
	height:57px;
	width:167px;
}
img._idGenObjectAttribute-34 {
	height:83px;
	width:110px;
}
img._idGenObjectAttribute-35 {
	height:70px;
	width:112px;
}
img._idGenObjectAttribute-36 {
	height:42px;
	width:101px;
}
img._idGenObjectAttribute-37 {
	height:54px;
	width:101px;
}
img._idGenObjectAttribute-38 {
	height:76px;
	width:93px;
}
img._idGenObjectAttribute-39 {
	height:83px;
	width:149px;
}
img._idGenObjectAttribute-40 {
	height:67px;
	width:149px;
}
img._idGenObjectAttribute-41 {
	height:73px;
	width:149px;
}
img._idGenObjectAttribute-42 {
	height:91px;
	width:75px;
}
img._idGenObjectAttribute-43 {
	height:96px;
	width:128px;
}
img._idGenObjectAttribute-44 {
	height:61px;
	width:126px;
}
img._idGenObjectAttribute-45 {
	height:79px;
	width:120px;
}
img._idGenObjectAttribute-46 {
	height:52px;
	width:143px;
}
img._idGenObjectAttribute-47 {
	height:58px;
	width:161px;
}
img._idGenObjectAttribute-48 {
	height:66px;
	width:146px;
}
img._idGenObjectAttribute-49 {
	height:61px;
	width:152px;
}
img._idGenObjectAttribute-50 {
	height:61px;
	width:134px;
}
img._idGenObjectAttribute-51 {
	height:65px;
	width:179px;
}
img._idGenObjectAttribute-52 {
	height:62px;
	width:109px;
}
img._idGenObjectAttribute-53 {
	height:98px;
	width:86px;
}
img._idGenObjectAttribute-54 {
	height:86px;
	width:167px;
}
img._idGenObjectAttribute-55 {
	height:56px;
	width:123px;
}
img._idGenObjectAttribute-56 {
	height:53px;
	width:121px;
}
img._idGenObjectAttribute-57 {
	height:66px;
	width:170px;
}
img._idGenObjectAttribute-58 {
	height:52px;
	width:164px;
}
img._idGenObjectAttribute-59 {
	height:87px;
	width:133px;
}
img._idGenObjectAttribute-60 {
	height:47px;
	width:95px;
}
img._idGenObjectAttribute-61 {
	height:120px;
	width:122px;
}
img._idGenObjectAttribute-62 {
	height:47px;
	width:59px;
}
img._idGenObjectAttribute-63 {
	height:65px;
	width:65px;
}
img._idGenObjectAttribute-64 {
	height:57px;
	width:60px;
}
img._idGenObjectAttribute-65 {
	height:91px;
	width:98px;
}
img._idGenObjectAttribute-66 {
	height:44px;
	width:42px;
}
img._idGenObjectAttribute-67 {
	height:54px;
	width:34px;
}
img._idGenObjectAttribute-68 {
	height:45px;
	width:49px;
}
img._idGenObjectAttribute-69 {
	height:35px;
	width:49px;
}
img._idGenObjectAttribute-70 {
	height:71px;
	width:71px;
}
img._idGenObjectAttribute-71 {
	height:131px;
	width:130px;
}
img._idGenObjectAttribute-72 {
	height:112px;
	width:207px;
}
img._idGenObjectAttribute-73 {
	height:69px;
	width:66px;
}
img._idGenObjectAttribute-74 {
	height:63px;
	width:69px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
