h1.ParaOverride-1, p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	text-align:left;
}
span.CharOverride-1 {
	font-family:Arial;
	font-size:2.308em;
}
span.CharOverride-2 {
	color:#9d9d9c;
	font-family:Arial;
}
span.CharOverride-3 {
	color:#d0991a;
	font-family:Arial;
}
span.CharOverride-4 {
	color:#d36417;
	font-family:Arial;
}
span.CharOverride-5 {
	color:#d36417;
}
span.CharOverride-6 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-7 {
	color:#000000;
	font-family:Arial;
}
span.CharOverride-8 {
	font-family:Arial;
	font-size:1.285em;
}
abbr.CharOverride-9, span.CharOverride-9 {
	font-size:1.714em;
}
span.CharOverride-10 {
	color:#d36417;
	font-family:Arial;
	font-size:1.714em;
}
span.CharOverride-11 {
	color:#ffdc01;
	font-family:Arial;
}
span.CharOverride-12 {
	-epub-text-combine:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-family:Arial;
}
img._idGenObjectAttribute-1 {
	height:848px;
	width:493px;
}
img._idGenObjectAttribute-2 {
	height:8px;
	width:56px;
}
img._idGenObjectAttribute-3 {
	height:466px;
	width:485px;
}
img._idGenObjectAttribute-4 {
	height:66px;
	width:71px;
}
img._idGenObjectAttribute-5 {
	height:70px;
	width:70px;
}
img._idGenObjectAttribute-6 {
	height:68px;
	width:65px;
}
img._idGenObjectAttribute-7 {
	height:66px;
	width:66px;
}
img._idGenObjectAttribute-8 {
	height:306px;
	width:269px;
}
img._idGenObjectAttribute-9 {
	height:101px;
	width:98px;
}
img._idGenObjectAttribute-10 {
	height:88px;
	width:97px;
}
img._idGenObjectAttribute-11 {
	height:109px;
	width:102px;
}
img._idGenObjectAttribute-12 {
	height:116px;
	width:126px;
}
img._idGenObjectAttribute-13 {
	height:330px;
	width:365px;
}
img._idGenObjectAttribute-14 {
	height:61px;
	width:41px;
}
img._idGenObjectAttribute-15 {
	height:47px;
	width:40px;
}
img._idGenObjectAttribute-16 {
	height:47px;
	width:134px;
}
img._idGenObjectAttribute-17 {
	height:68px;
	width:78px;
}
img._idGenObjectAttribute-18 {
	height:47px;
	width:127px;
}
img._idGenObjectAttribute-19 {
	height:74px;
	width:68px;
}
img._idGenObjectAttribute-20 {
	height:47px;
	width:109px;
}
img._idGenObjectAttribute-21 {
	height:69px;
	width:70px;
}
img._idGenObjectAttribute-22 {
	height:266px;
	width:255px;
}
img._idGenObjectAttribute-23 {
	height:96px;
	width:119px;
}
img._idGenObjectAttribute-24 {
	height:122px;
	width:112px;
}
img._idGenObjectAttribute-25 {
	height:105px;
	width:128px;
}
img._idGenObjectAttribute-26 {
	height:98px;
	width:136px;
}
img._idGenObjectAttribute-27 {
	height:156px;
	width:149px;
}
img._idGenObjectAttribute-28 {
	height:188px;
	width:602px;
}
img._idGenObjectAttribute-29 {
	height:207px;
	width:318px;
}
img._idGenObjectAttribute-30 {
	height:171px;
	width:308px;
}
img._idGenObjectAttribute-31 {
	height:428px;
	width:523px;
}
img._idGenObjectAttribute-32 {
	height:390px;
	width:523px;
}
img._idGenObjectAttribute-33 {
	height:152px;
	width:153px;
}
img._idGenObjectAttribute-34 {
	height:80px;
	width:194px;
}
img._idGenObjectAttribute-35 {
	height:112px;
	width:110px;
}
img._idGenObjectAttribute-36 {
	height:46px;
	width:142px;
}
img._idGenObjectAttribute-37 {
	height:70px;
	width:86px;
}
img._idGenObjectAttribute-38 {
	height:59px;
	width:87px;
}
img._idGenObjectAttribute-39 {
	height:33px;
	width:78px;
}
img._idGenObjectAttribute-40 {
	height:41px;
	width:78px;
}
img._idGenObjectAttribute-41 {
	height:67px;
	width:80px;
}
img._idGenObjectAttribute-42 {
	height:71px;
	width:126px;
}
img._idGenObjectAttribute-43 {
	height:38px;
	width:126px;
}
img._idGenObjectAttribute-44 {
	height:56px;
	width:127px;
}
img._idGenObjectAttribute-45 {
	height:77px;
	width:60px;
}
img._idGenObjectAttribute-46 {
	height:75px;
	width:105px;
}
img._idGenObjectAttribute-47 {
	height:44px;
	width:108px;
}
img._idGenObjectAttribute-48 {
	height:58px;
	width:87px;
}
img._idGenObjectAttribute-49 {
	height:38px;
	width:122px;
}
img._idGenObjectAttribute-50 {
	height:40px;
	width:134px;
}
img._idGenObjectAttribute-51 {
	height:59px;
	width:122px;
}
img._idGenObjectAttribute-52 {
	height:43px;
	width:123px;
}
img._idGenObjectAttribute-53 {
	height:46px;
	width:101px;
}
img._idGenObjectAttribute-54 {
	height:46px;
	width:157px;
}
img._idGenObjectAttribute-55 {
	height:28px;
	width:90px;
}
img._idGenObjectAttribute-56 {
	height:86px;
	width:78px;
}
img._idGenObjectAttribute-57 {
	height:62px;
	width:142px;
}
img._idGenObjectAttribute-58 {
	height:50px;
	width:102px;
}
img._idGenObjectAttribute-59 {
	height:44px;
	width:107px;
}
img._idGenObjectAttribute-60 {
	height:43px;
	width:147px;
}
img._idGenObjectAttribute-61 {
	height:38px;
	width:134px;
}
img._idGenObjectAttribute-62 {
	height:76px;
	width:107px;
}
img._idGenObjectAttribute-63 {
	height:36px;
	width:80px;
}
img._idGenObjectAttribute-64 {
	height:120px;
	width:122px;
}
img._idGenObjectAttribute-65 {
	height:34px;
	width:44px;
}
img._idGenObjectAttribute-66 {
	height:42px;
	width:44px;
}
img._idGenObjectAttribute-67 {
	height:45px;
	width:44px;
}
img._idGenObjectAttribute-68 {
	height:120px;
	width:117px;
}
img._idGenObjectAttribute-69 {
	height:46px;
	width:54px;
}
img._idGenObjectAttribute-70 {
	height:70px;
	width:39px;
}
img._idGenObjectAttribute-71 {
	height:44px;
	width:49px;
}
img._idGenObjectAttribute-72 {
	height:34px;
	width:49px;
}
img._idGenObjectAttribute-73 {
	height:81px;
	width:86px;
}
img._idGenObjectAttribute-74 {
	height:84px;
	width:84px;
}
img._idGenObjectAttribute-75 {
	height:78px;
	width:144px;
}
img._idGenObjectAttribute-76 {
	height:41px;
	width:44px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}

/* Remove underline padrão de abbr com title */
abbr[title] {
  text-decoration: none !important;
  border-bottom: none !important;
  cursor: help; /* opcional, mantém o ícone de ajuda */
}
