@font-face {
	font-family:Arial;
	font-style:normal;
	font-weight:bold;
	src : url("../fonts/Arial-BoldMT.ttf");
}
@font-face {
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	src : url("../fonts/ArialMT.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.Quadro-de-gr-fico-b-sico, img.Quadro-de-gr-fico-b-sico {
	border-style:solid;
}
div.Quadro-de-texto-b-sico {
	border-style:solid;
}
h1.fdnc_fdnc_h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:23px;
	margin-right:23px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h2.fdnc_fdnc_h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:23px;
	margin-right:23px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.fdnc_fdnc_p {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:10px;
	margin-right:10px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.quebra {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
abbr.__correcao__-Escrêva__f2daaf7c-fac0-dcd2-94d8-d470d78e1de2, span.__correcao__-Escrêva__f2daaf7c-fac0-dcd2-94d8-d470d78e1de2 {
	-epub-text-combine:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
abbr.fdnc_fdnc_bold____correcao__-cinco-zéro-oito-séte-zéro-nóve-cinco-cinco-__6f18aab2-e1ce-241c-3628-457c5600bc5c, span.fdnc_fdnc_bold____correcao__-cinco-zéro-oito-séte-zéro-nóve-cinco-cinco-__6f18aab2-e1ce-241c-3628-457c5600bc5c {
	-epub-text-combine:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
}
abbr.fdnc_fdnc_bold____correcao__-cé, span.fdnc_fdnc_bold____correcao__-cé {
	-epub-text-combine:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
}
span.fdnc_fdnc_bold {
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
}
span.fdnc_fdnc_link {
	color:#000000;
	text-decoration:none;
}
abbr[data-abbrtype] {
  text-decoration: none !important;
  border-bottom: none !important;
}

abbr[title] {
  text-decoration: none !important;
  border-bottom: none !important;
  cursor: help;
}
a:link { 
text-decoration:none;
color: #000; {
