td.CellOverride-1 {
	background-color:#fccd8c;
	vertical-align:middle;
}
td.CellOverride-2 {
	vertical-align:middle;
}
td.CellOverride-3 {
	background-color:#ffde0c;
	vertical-align:middle;
}
td.CellOverride-4 {
	background-color:#f59e30;
	vertical-align:middle;
}
td.CellOverride-5 {
	background-color:#d66c2a;
	vertical-align:middle;
}
p.ParaOverride-1 {
	margin-bottom:1.000em;
	margin-top:2.417em;
	page-break-after:always;
}
p.ParaOverride-2 {
	text-align:center;
}
span.CharOverride-1 {
	font-family:Arial;
	font-size:16px;
}
span.CharOverride-2 {
	font-size:16px;
}
span.CharOverride-3 {
	color:#ffffff;
}
span.CharOverride-4 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-5 {
	color:#000000;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-family:Arial;
}
table._idGenTablePara-1 {
	margin-left:10px;
	margin-right:10px;
}
#_idContainer002, #_idContainer003, #_idContainer021, #_idContainer114 {
	max-width:77.33em;
}
#_idContainer005 {
	max-width:28.13em;
}
#_idContainer006 {
	max-width:14.40em;
}
#_idContainer007 {
	max-width:15.30em;
}
#_idContainer008, #_idContainer011, #_idContainer014, #_idContainer054 {
	max-width:76.50em;
}
#_idContainer010 {
	max-width:11.91em;
}
#_idContainer013 {
	max-width:19.75em;
}
#_idContainer016 {
	max-width:22.41em;
}
#_idContainer017 {
	max-width:24.64em;
}
#_idContainer019 {
	max-width:44.28em;
}
#_idContainer020 {
	max-width:45.39em;
}
#_idContainer023 {
	max-width:19.16em;
}
#_idContainer025 {
	max-width:13.80em;
}
#_idContainer027 {
	max-width:18.11em;
}
#_idContainer029 {
	max-width:24.33em;
}
#_idContainer030 {
	max-width:76.61em;
}
#_idContainer032 {
	max-width:15.63em;
}
#_idContainer034 {
	max-width:28.06em;
}
#_idContainer036 {
	max-width:19.47em;
}
#_idContainer037 {
	max-width:76.48em;
}
#_idContainer039 {
	max-width:21.84em;
}
#_idContainer041 {
	max-width:18.97em;
}
#_idContainer043 {
	max-width:19.91em;
}
#_idContainer045 {
	max-width:20.36em;
}
#_idContainer046 {
	max-width:76.44em;
}
#_idContainer049 {
	max-width:9.10em;
}
#_idContainer051 {
	max-width:10.56em;
}
#_idContainer053 {
	max-width:13.44em;
}
#_idContainer058 {
	max-width:76.45em;
}
#_idContainer060 {
	max-width:28.76em;
}
#_idContainer062 {
	max-width:21.67em;
}
#_idContainer064 {
	max-width:17.67em;
}
#_idContainer065 {
	max-width:76.71em;
}
#_idContainer066, #_idContainer068 {
	max-width:14.75em;
}
#_idContainer070 {
	max-width:76.60em;
}
img._idGenObjectAttribute-1 {
	width:32.00%;
}
img._idGenObjectAttribute-2 {
	width:44.54%;
}
img._idGenObjectAttribute-3 {
	width:23.93%;
}
img._idGenObjectAttribute-4 {
	width:18.17%;
}
img._idGenObjectAttribute-5 {
	width:19.59%;
}
img._idGenObjectAttribute-6 {
	width:19.98%;
}
img._idGenObjectAttribute-7 {
	width:21.50%;
}
img._idGenObjectAttribute-8 {
	width:21.30%;
}
img._idGenObjectAttribute-9 {
	width:21.96%;
}
img._idGenObjectAttribute-10 {
	width:21.06%;
}
img._idGenObjectAttribute-11 {
	width:21.35%;
}
img._idGenObjectAttribute-12 {
	width:20.99%;
}
img._idGenObjectAttribute-13 {
	width:22.41%;
}
img._idGenObjectAttribute-14 {
	width:28.24%;
}
img._idGenObjectAttribute-15 {
	width:28.90%;
}
img._idGenObjectAttribute-16 {
	width:29.33%;
}
img._idGenObjectAttribute-17 {
	width:56.20%;
}
img._idGenObjectAttribute-18 {
	width:23.42%;
}
img._idGenObjectAttribute-19 {
	width:23.28%;
}
img._idGenObjectAttribute-20 {
	width:71.25%;
}
img._idGenObjectAttribute-21 {
	width:71.28%;
}
img._idGenObjectAttribute-22 {
	width:12.35%;
}
img._idGenObjectAttribute-23 {
	width:79.47%;
}
img._idGenObjectAttribute-24 {
	height:119px;
	width:342px;
}
img._idGenObjectAttribute-25 {
	height:73px;
	width:278px;
}
img._idGenObjectAttribute-26 {
	height:41px;
	width:263px;
}
img._idGenObjectAttribute-27 {
	height:58px;
	width:137px;
}
img._idGenObjectAttribute-28 {
	height:44px;
	width:135px;
}
img._idGenObjectAttribute-29 {
	height:101px;
	width:95px;
}
img._idGenObjectAttribute-30 {
	height:41px;
	width:132px;
}
img._idGenObjectAttribute-31 {
	height:63px;
	width:101px;
}
img._idGenObjectAttribute-32 {
	height:71px;
	width:127px;
}
img._idGenObjectAttribute-33 {
	height:41px;
	width:128px;
}
img._idGenObjectAttribute-34 {
	height:74px;
	width:65px;
}
img._idGenObjectAttribute-35 {
	height:59px;
	width:79px;
}
img._idGenObjectAttribute-36 {
	height:78px;
	width:241px;
}
img._idGenObjectAttribute-37 {
	height:80px;
	width:185px;
}
img._idGenObjectAttribute-38 {
	height:51px;
	width:171px;
}
img._idGenObjectAttribute-39 {
	height:28px;
	width:76px;
}
img._idGenObjectAttribute-40 {
	height:32px;
	width:75px;
}
img._idGenObjectAttribute-41 {
	height:74px;
	width:152px;
}
img._idGenObjectAttribute-42 {
	width:3.15%;
}
img._idGenObjectAttribute-43 {
	width:2.91%;
}
img._idGenObjectAttribute-44 {
	width:2.42%;
}
img._idGenObjectAttribute-45 {
	width:28.45%;
}
img._idGenObjectAttribute-46 {
	width:2.83%;
}
img._idGenObjectAttribute-47 {
	width:7.52%;
}
img._idGenObjectAttribute-48 {
	width:3.48%;
}
img._idGenObjectAttribute-49 {
	width:2.59%;
}
img._idGenObjectAttribute-50 {
	width:3.72%;
}
img._idGenObjectAttribute-51 {
	width:6.30%;
}
img._idGenObjectAttribute-52 {
	width:13.50%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:left;
}
.sr-only {
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip-path: polygon(0 0, 0 0, 0 0); 
	white-space: nowrap; 
	border: 0;
}
	mtd {
		padding: 5px;
	}
	