@font-face {
    font-family: "Quadraat Sans";
    src: url("../fonts/QuadraatSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quadraat Sans";
    src: url("../fonts/quadraatsans-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Quadraat Sans";
    src: url("../fonts/QuadraatSans-Ita.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Quadraat Sans";
    src: url("../fonts/QuadraatSans-BoldIta.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Quadraat Regular";
    src: url("../fonts/quadraat-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quadraat";
    src: url("../fonts/quadraatsans-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Quadraat";
    src: url("../fonts/quadraat-italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Courier";
    src: url("../fonts/CourierPrime-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Courier";
    src: url("../fonts/CourierPrime-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Courier";
    src: url("../fonts/CourierPrime-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Chantal";
    src: url("../fonts/Chantal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mandrel";
    src: url("../fonts/Mandrel-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mandrel";
    src: url("../fonts/Mandrel-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Mandrel";
    src: url("../fonts/Mandrel-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lithos Pro";
    src: url("../fonts/LithosPro-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lithos Pro Light";
    src: url("../fonts/LithosPro-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lithos Pro Regular";
    src: url("../fonts/LithosPro-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Lithos Pro Black";
    src: url("../fonts/LithosPro-Bold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face{
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face{
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face{
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}

@font-face{
  font-family: "Work Sans";
  src: url("../fonts/Work-Sans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "Work Sans";
  src: url("../fonts/Work-Sans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}



* {
    margin: 0;
    padding: 0;
    border: none;
}


html {
    background: #ffffff;
}


abbr {
    text-decoration: none;
}

figure,
div.fdnc_img,

img.fdnc_img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    min-width: 1%;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    border: none;
}


img {
    min-width: 3% !important;
    max-width: 100% !important;
    height: auto !important;
}

p,
a,

h4 {
    word-wrap: break-word;
}


a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}


a:visited {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}


p {
    word-wrap: break-word;
}


abbr {
    text-decoration: none;
}

/ 

* html {
    scroll-behavior: smooth;
    scroll-padding-top: 42px;
}

*/ div,

img {
    max-width: 100%;
    height: auto !important;
}


body {
    width: 800px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #ffff;
    margin: 0 auto;
    max-width: 70%;
}


p.quebra, p.quebra_mediador {
    font-family: "Roboto Regular", serif;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    font-size: 16px;
    margin: 50px 0;
}


div.os_paginacao {
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    top: 0;
    background-color: white;
}


h1.fdnc_fdnc_h1 {
    font-family: "Quadraat Sans", serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 20px;
}


h2.fdnc_fdnc_h2 {
    font-family: "Quadraat Sans", serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 20px;
}


h2.fdnc_fdnc_h2_capitulo {
    font-family: "Quadraat", sans-serif;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    color: #f5821f;
}


p.fdnc_fdnc_p_autores {
    font-family: "Quadraat", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 20px;
    font-variant: small-caps;
}


p.fdnc_fdnc_p_ilustracoes {
    font-family: "Quadraat", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 20px;
}


p.fdnc_fdnc_cred {
    font-family: "Mandrel", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 20px;
}


p.fdnc_fdnc_cred_espaco {
    font-family: "Mandrel", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 20px;
}


p.fdnc_fdnc_ficha_center {
    font-family: "Courier", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
}


p.fdnc_fdnc_ficha {
    font-family: "Courier", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: left;
}


p.fdnc_fdnc_ficha_recuo {
    font-family: "Courier", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: left;
    text-indent: 20px;
}


p.fdnc_dedicatoria {
    color: #000000;
    font-family: "Electra LT Std", serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


p.fdnc_fdnc_p {
    font-family: "Quadraat Sans", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 10px;
    text-indent: 20px;
    text-align: justify;
}


p.fdnc_fdnc_p_sem_recuo {
    font-family: "Quadraat Sans", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 10px;
    text-indent: 0;
    text-align: justify;
}


li.fdnc_fdnc_lista {
    font-family: "Quadraat Sans", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 10px;
    text-indent: 0;
    margin-left: 20px;
    list-style-type: disc;
    list-style-position: outside;
}


p.fdnc_fdnc_p_dedicatoria {
    font-family: "Quadraat Sans", serif;

    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 20px;
    text-indent: 0;
    padding-left: 40px;
}


p.fdnc_fdnc_p_texto {
    font-family: "Quadraat", serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 10px;
    text-indent: 20px;
    margin-left: 0;
}


p.fdnc_fdnc_p_data {
    font-family: "Courier", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;
    text-indent: 0;
}


p.fdnc_fdnc_p_data_texto {
    font-family: "Courier", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 20px;
    text-indent: 20px;
    margin-left: 20px;
}


p.fdnc_fdnc_p_data_texto_sem_recuo {
    font-family: "Courier", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 20px;
    text-indent: 0px;
    margin-left: 20px;
}


p.fdnc_fdnc_p_center {
    font-family: "Quadraat", serif;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;
}


p.fdnc_fdnc_citacao {
    font-family: "Quadraat", serif;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 1.2;
}


p.fdnc_citacao_espaco {
    font-family: "Quadraat", serif;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    line-height: 1.2;
}


p.fdnc_fdnc_credito {
    font-family: "Quadraat", serif;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin-top: 6px;
    margin-left: 0;
    text-indent: 0;
}


span.fdnc_fdnc_cdd {
    float: right;
}


div.fdnc_ficha {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


h1.fdnc_caderno_mediador_fdnc_h1 {
  font-family: "Roboto Black", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  background-color: #d8d8d8;
  color:black;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}


h2.fdnc_caderno_mediador_fdnc_h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  color: #727272;
  padding: 6px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
}


h3.fdnc_caderno_mediador_fdnc_h3 {
  font-family: "Roboto Regular", sans-serif;
  font-size: 26px;
  font-style: normal;
  background-color: transparent;
  color: #727272;
  padding: 6px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
}


h4.fdnc_caderno_mediador_fdnc_h4 {
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
  color: black;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}


p.fdnc_caderno_mediador_fdnc_caderno_mediador {
    font-family: "Roboto Regular", sans-serif;
    font-size: 32px;
    font-weight: bold;
    background-color: #bf8f00;
    color: white;
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}


p.fdnc_caderno_mediador_fdnc_titulo_livro {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: bold;
    background-color: #ffd966;
    color: black;
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}


p.fdnc_caderno_mediador_fdnc_autores {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: bold;
    background-color: #ffe599;
    color: black;
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}


p.fdnc_caderno_mediador_fdnc_p {
    font-family: "Roboto Regular", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.6;
    text-indent: 20px;
}


p.fdnc_caderno_mediador_fdnc_p_right {
    font-family: "Roboto Regular", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: right;
    line-height: 1.6;
    text-indent: 20px;
}


p.fdnc_caderno_mediador_fdnc_p_sem_recuo {
    font-family: "Roboto Regular", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.6;
    text-indent: 0;
}


div.fdnc_para_saber_mais {
    border-style:none ;
    border-radius: 20px;
    background-color: #e5e5e5;
    padding: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
}


div.fdnc_rosto h1 {
    font-family: "Lithos Pro Light", sans-serif;
    margin-bottom: 2em;
    font-size: 80px;
    text-align: center;
    line-height: 1.2;
    margin-top: 1em;
}


div.fdnc_rosto p.fdnc_fdnc_p_center {
    margin-top: 4em;

}


p.fdnc_fdnc_rosto_autor {
    color: #000000;
    font-family: "Lithos Pro Light", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 0.861;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


span.fdnc_fdnc_icones {
    float: right;
}


p.fdnc_fdnc_cred_espaco span.fdnc_fdnc_bold {
    font-weight: bold;
    font-family: "Mandrel";

}


p.fdnc_dedicatoria {
    color: #000000;
    font-family: "Electra LT Std", serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


h2.fdnc_fdnc_titulo_h2_creditos {
    color: #000000;
    font-family: "Lithos Pro Regular", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}


p.fdnc_fdnc_miolo_vinheta {
    color: #000000;
    font-family: "Electra LT Std", serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


h2.fdnc_fdnc_titulo_h2 {
    color: #000000;
    font-family: "Lithos Pro Regular", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}


span.fdnc_fdnc_numero_capitulo {
    color: #000000;
    font-family: "Lithos Pro Regular", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
}


p.fdnc_fdnc_p_miolo {
    color: #000000;
    font-family: "Electra LT Std", serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 14px;
    text-transform: none;
    widows: 1;
}


p.fdnc_fdnc_p_miolo_sem_recuo {
    color: #000000;
    font-family: "Electra LT Std", serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


li.fdnc_fdnc_lista_sumario {
    color: #000000;
    font-family: "Electra LT Std", serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


li.fdnc_caderno_mediador_fdnc_lista_bullet_sub {
    color: #000000;
    font-family: "Roboto Regular", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.4;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
    margin-top: 10px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


li.fdnc_caderno_mediador_fdnc_lista_bullet {
    color: #000000;
    font-family: "Roboto Regular", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.4;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 10px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


div.fdnc_rosto {
    border-style: none;
}


div.fdnc_sumario {
    border-style: none;
}


div.fdnc_dedicatoria {
    border-style: none;
}


p.fdnc_dedicatoria {
    color: #000000;
    font-family: "Electra LT Std", serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


span.fdnc_fdnc_italic {
    font-style: italic;
    font-weight: normal;
}


span.fdnc_fdnc_bold_italic {
    font-style: italic;
    font-weight: bold;
}


span.fdnc_fdnc_bold {
    font-style: normal;
    font-weight: bold;
}


p.fdnc_caderno_mediador_fdnc_credito_citacao {
    font-family: "Roboto Regular", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: right;
    line-height: 1.6;
    text-indent: 0;
}


p.fdnc_caderno_mediador_fdnc_citacao {
    font-family: "Roboto Regular", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: left;
    line-height: 1.6;
    text-indent: 0;
}
	mtd {
		padding: 5px;
	}
	