@font-face {
    font-family: "Work Sans";
    src: url("../fonts/Work-Sans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Work Sans";
    src: url("../fonts/WorkSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

body {
  width: 594px !important;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: #ffff;
  margin: 0 auto !important;
}

li a {
  font-family: "Work Sans";
  color: #000;
  padding-top: 5px;
  text-decoration: none;
}

li {
  padding-top: 5px;
  font-weight: normal;
  text-decoration: none;
}

h1 {
  font-family: "Work Sans";
  text-decoration: none;
}

h2 {
  font-family: "Work Sans";
  text-decoration: none;
}

li::marker {

  color: #000000;
  font-family: "Work Sans";
  font-weight: bold;
  text-decoration: none;
}

p.fdnc_fdnc_ficha {
	color:#000000;
	font-family:"Work Sans", serif;
	font-size:18px;
	line-height:1.6;
	margin-top: 10px;
}

p.fdnc_fdnc_ficha_center {
	color:#000000;
	font-family:"Work Sans", serif;
	font-size:18px;
	line-height:1.6;
	margin-top: 10px;
  text-align: center;
}

p.fdnc_fdnc_ficha_recuo {
	color:#000000;
	font-family:"Work Sans", serif;
	font-size: 18px;
	line-height: 1.6;
	margin-top: 10px;
  text-indent: 20px;
}

span.fdnc_fdnc_cdd {
  float: right;
}

.sr-only {
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip-path: polygon(0 0, 0 0, 0 0); 
	white-space: nowrap; 
	border: 0;
}
	

mtd {
		padding: 5px;
	}
	
	mtd {
		padding: 5px;
	}
	