span.CharOverride-1 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
}
p._idGenParaOverride-1, li._idGenParaOverride-1 {
	page-break-after:always;
}
li._idGenParaOverride-2 {
	font-size:12px;
	margin-left:20px;
}
li._idGenParaOverride-3 {
	font-size:12px;
	margin-left:20px;
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-size:0.444em;
}
#_idContainer262 {
	display:inline-block;
	height:1280px;
	width:800px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#cce2c5;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
.sr-only {
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip-path: polygon(0 0, 0 0, 0 0); 
	white-space: nowrap; 
	border: 0;
}
	mtd {
		padding: 5px;
	}
	