div.fdnc_autor {
	border-style:solid;
}
div.fdnc_dedicatoria {
	border-style:solid;
}
div.fdnc_rosto {
	border-style:solid;
}
div.fdnc_sumario {
	border-style:solid;
}
p.fdnc_dedicatoria {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Electra LT Std", serif;
	font-size:2.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.fdnc_fdnc_lista_sumario {
	color:#000000;
	font-family:"Electra LT Std", serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:inside;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.fdnc_fdnc_miolo_vinheta {
	color:#000000;
	font-family:"Electra LT Std", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.fdnc_fdnc_p_miolo {
	color:#000000;
	font-family:"Electra LT Std", serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:14px;
	text-transform:none;
	widows:1;
}
p.fdnc_fdnc_rosto_autor {
	color:#000000;
	font-family:"Lithos Pro Light", sans-serif;
	font-size:2.7em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.861;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h2.fdnc_fdnc_titulo_h2 {
	color:#000000;
	font-family:"Lithos Pro Regular", sans-serif;
	font-size:4em;
	font-style:normal;
	font-variant:normal;
	font-weight:800;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
h2.fdnc_fdnc_titulo_h2_creditos {
	color:#000000;
	font-family:"Lithos Pro Regular", sans-serif;
	font-size:3.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:800;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
span.fdnc_fdnc_bold_sumario {
	font-family:"Lithos Pro Regular", sans-serif;
	font-style:normal;
	font-weight:800;
}
span.fdnc_fdnc_cursive {
	font-style:normal;
	font-weight:normal;
}
span.fdnc_fdnc_lithos_italic {
	font-style:italic;
	font-weight:normal;
}
span.fdnc_fdnc_numero_capitulo {
	font-size:16.667em;
}
span.CharOverride-1 {
	font-size:6px;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-size:4.167em;
}
#_idContainer011 {
	display:inline-block;
	height:56px;
	width:85px;
}
#_idContainer018 {
	display:inline-block;
	height:109px;
	position:relative;
	width:281px;
}
#_idContainer022 {
	display:inline-block;
	height:127px;
	position:relative;
	width:315px;
}
#_idContainer026 {
	display:inline-block;
	height:405px;
	width:800px;
}
#_idContainer042 {
	display:inline-block;
	height:311px;
	width:798px;
}
#_idContainer058, #_idContainer130, #_idContainer174, #_idContainer231 {
	display:inline-block;
	height:609px;
	width:794px;
}
#_idContainer059 {
	display:inline-block;
	height:36px;
	position:relative;
	width:683px;
}
#_idContainer063 {
	display:inline-block;
	height:315px;
	width:798px;
}
#_idContainer069, #_idContainer071 {
	display:inline-block;
	height:1229px;
	width:800px;
}
#_idContainer082 {
	display:inline-block;
	height:354px;
	width:800px;
}
#_idContainer100 {
	display:inline-block;
	height:316px;
	width:804px;
}
#_idContainer119 {
	display:inline-block;
	height:338px;
	width:797px;
}
#_idContainer131 {
	display:inline-block;
	height:71px;
	position:relative;
	width:800px;
}
#_idContainer132 {
	display:inline-block;
	height:12px;
	position:relative;
	width:8px;
}
#_idContainer136 {
	display:inline-block;
	height:348px;
	width:800px;
}
#_idContainer145 {
	display:inline-block;
	height:1232px;
	width:800px;
}
#_idContainer149 {
	display:inline-block;
	height:342px;
	width:800px;
}
#_idContainer162 {
	display:inline-block;
	height:325px;
	width:792px;
}
#_idContainer175 {
	display:inline-block;
	height:90px;
	position:relative;
	width:800px;
}
#_idContainer179 {
	display:inline-block;
	height:315px;
	width:802px;
}
#_idContainer190 {
	display:inline-block;
	height:619px;
	width:806px;
}
#_idContainer191 {
	display:inline-block;
	height:108px;
	position:relative;
	width:425px;
}
#_idContainer195 {
	display:inline-block;
	height:403px;
	width:800px;
}
#_idContainer212 {
	display:inline-block;
	height:1231px;
	width:800px;
}
#_idContainer216 {
	display:inline-block;
	height:311px;
	width:809px;
}
#_idContainer232 {
	display:inline-block;
	height:101px;
	position:relative;
	width:800px;
}
#_idContainer233 {
	display:inline-block;
	height:6px;
	width:3px;
}
#_idContainer237 {
	display:inline-block;
	height:323px;
	width:800px;
}
#_idContainer243 {
	display:inline-block;
	height:828px;
	width:805px;
}
#_idContainer245 {
	display:inline-block;
	height:1228px;
	width:800px;
}
#_idContainer246 {
	display:inline-block;
	height:50px;
	width:280px;
}
#_idContainer251 {
	display:inline-block;
	height:32px;
	width:231px;
}
img._idGenObjectAttribute-1 {
	height:74px;
	width:75px;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-3 {
	height:31px;
	width:396px;
}
div._idGenObjectAttribute-4 {
	height:17px;
	position:relative;
	width:20px;
}
img._idGenObjectAttribute-5 {
	height:504px;
	width:797px;
}
img._idGenObjectAttribute-6 {
	height:22px;
	width:803px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-color:#ffffff;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
.sr-only {
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip-path: polygon(0 0, 0 0, 0 0); 
	white-space: nowrap; 
	border: 0;
}
	mtd {
		padding: 5px;
	}
	